*,
*::before,
*::after {
    box-sizing: border-box;
}


ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #E1D4C9;
    height: 100%;
    width: 100%;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.container {
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter', sans-serif;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 456px;
}

.menu-item {
    text-decoration: none;
    color: #403F3D;
    border-bottom: 2px solid;
    border-color: #E1D4C9;
    padding-bottom: 4px;
    position: relative;
}

.coffee-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72px;
    border-bottom: 2px solid;
    border-color: #E1D4C9;
    position: relative;
    padding-bottom: 4px;
    color: #403F3D;
}

.menu-link {
    display: contents;
}

.coffee-menu::after,
.menu-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #403F3D;
    transition: width 0.3s ease;
}

.coffee-menu::after,
.menu-item::after {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.coffee-menu:hover::after,
.menu-item:hover:after {
    width: 100%;
    cursor: pointer;
}

.coffee-menu:hover {
    cursor: pointer;
}

.burger-menu {
    display: none;
}

.burger-menu-open {
    display: none;
}

.enjoy-container {
    height: 644px;
    border-radius: 40px;
    background: url("img/img-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

.offer {
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: #E1D4C9;
    font-size: 72px;
    line-height: 75.6px;
}

.italic {
    font-style: italic;
    color: #B0907A;
}

.offer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #E1D4C9;
}

.offer-menu-btn {
    background-color: #E1D4C9;
    width: 200px;
    height: 64px;
    border-radius: 100px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #403F3D
}

.offer-menu-btn-cup {
    margin-left: 8px;
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    transition: max-width .3s ease;
}

.offer-menu-btn:hover .offer-menu-btn-cup {
    opacity: 1;
    max-width: 40px;
    overflow: hidden;
    opacity: 1;
    transition: max-width .9s ease;
}

.favorite-coffee-container {
    height: 799px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #403F3D;
}

h2 {
    font-weight: 600;
    font-size: 60px;
    line-height: 75px;
    color: #403F3D;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 640px;
}

.arrow {
    display: flex;
    width: 60px;
    height: 60px;
    border: 1px solid #665F55;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background-color: none;
    transition: all 1s ease;
}

.arrow:hover {
    background-color: #665F55;
    color: #E1D4C9;
}

svg {
    width: 14px;
    height: 14px;
    fill: #403F3D;
}

path {
    stroke: #403F3D;
}

.arrow:hover path {
    stroke: #E1D4C9;
}

.slide {
    height: 100%;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.slide-img {
    width: 466px;
    height: 485px;
}

.slide-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.slide-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.slide-price {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.slider-controls {
    width: 144px;
    display: flex;
    justify-content: space-between;
}

.slider-controller {
    width: 40px;
    border-top: 4px solid #C1B6AD;
    border-radius: 100px;
}

.slider-controller-active {
    border-color: #665F55;
}

.about-container {
    height: 1325px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 100px;
}

.about-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    grid-template-rows: 430px 120px 430px;
}

.about-imgs {
    border-radius: 20px;
    transition: background-size .3s ease;
}

.about-img1 {
    background: url(img/about-1.jpg);
    grid-row-start: 1;
    grid-row-end: 3;
    background-position: center;
    background-size: 110%;

}


.about-img2 {
    background: url(img/about-2.jpg);
    background-position: center;
    background-size: 110%;

}

.about-img3 {
    background: url(img/about-3.jpg);
    background-position: center;
    background-size: 110%;
}

.about-img4 {
    background: url(img/about-4.jpg);
    grid-row-start: 2;
    grid-row-end: 4;
    background-position: center;
    background-size: 110%;
}

.about-imgs:hover {
    cursor: pointer;
    background-size: 100%;
    transition: background-size .6s ease;
}

.mobile-app-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-app-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 342px;
    max-width: 630px;
    color: #403F3D;
}

.mobile-app-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.mobile-app-btns {
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 420px;
}

.mobile-app-btn {
    display: flex;
    align-items: center;
    width: 200px;
    border: 1px solid #665F55;
    border-radius: 100px;
    padding-left: 20px;
    background-color: none;
    transition: all 1s ease;
}

.mobile-app-btn:hover {
    background-color: #665F55;
    color: #E1D4C9;
}

.mobile-app-btn:hover path {
    stroke: #E1D4C9;
    fill: #E1D4C9;
}

.mobile-app-icon {
    width: 36px;
    height: 36px;
    fill: #403F3D;
}

.mobile-app-btn-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
}

.mobile-app-btn-text {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
}

.mobile-app-btn-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

footer {
    margin-top: 100px;
}

.contacts-container {
    height: 450px;
    background-color: #665F55;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contacts-offer {
    max-width: 530px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contacts-offer-description {
    color: #E1D4C9;
}

.contacts-offer-links {
    display: flex;
    width: 204px;
    justify-content: space-between;
}

.contacts-offer-link-border {
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #665F55;
    transition: all 1s ease;
}

.contacts-offer-link-border:hover {
    background-color: #E1D4C9;
    cursor: pointer;
    border: none;
}

.contacts-offer-link-border:hover path {
    stroke: #665F55;
}


.contacts-offer-links-icon {
    width: 24px;
    height: 24px;
}

.contacts-offer-links-icon path {
    stroke: #E1D4C9;
    fill: none;
    width: 24px;
    height: 24px;
}

.contact-offer-info {
    max-width: 530px;
}

.contacts-info {
    max-width: 530px;
    width: 100%;
    height: 186px;
    max-width: 530px;
    color: #E1D4C9;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-info-title {
    font-size: 24px;
    line-height: 30px;
}

.contacts-info-contacts {
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-info-contact {
    display: flex;
    align-items: center;
}

.contacts-info-icon {
    margin-right: 4px;
    width: 20px;
    height: 20px;
}

.contacts-info-icon path {
    stroke: #E1D4C9;
    fill: none;
}

.clock path {
    stroke: #E1D4C9;
}

.contact-hover {
    position: relative;
    padding-bottom: 4px;
    overflow: hidden;
    display: flex;
}

.contact-hover::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #E1D4C9;
    transition: width .6s ease, transform 0.3s ease;
    transform-origin: left;
}

.contact-hover:hover::before {
    width: 100%;
    transform: translateX(-50%);
}

.contact-hover:hover {
    cursor: pointer;
}


/* TABLET */
@media all and (max-width: 768px) {
    .container {
        width: 768px;
    }

    nav {
        display: none;
    }

    .coffee-menu {
        display: none;
    }

    .burger-menu {
        width: 44px;
        height: 44px;
        border: 1px solid #665F55;
        border-radius: 100px;
        display: block;
        position: relative;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    .burger-menu input {
        display: block;
        width: 44px;
        height: 44px;
        margin: 0;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    .burger-icon {
        width: 100%;
        height: 11px;
        display: flex;
        margin-top: 16px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .bar {
        display: block;
        position: relative;
        width: 16px;
        height: 1.5px;
        background: #403F3D;
        border-radius: 100px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition-duration: 0.5s;
    }

    .bar:first-child {
        transform-origin: 0% 0%;
    }

    .bar:last-child {
        transform-origin: 0% 100%;
    }

    .burger-menu input:checked~.bar {
        transform: rotateZ(135deg) translate(-3px, -8px);
        width: 16px;
    }

    .burger-menu input:checked~.bar:last-child {
        transform: rotateZ(-135deg) translate(-10px, 10px);
        width: 16px;
    }

    .burger-menu ul {
        list-style: none;
    }

    .burger-menu a {
        text-decoration: none;
        color: #403F3D;
        transition: color 0.3s ease;
    }

    .burger-menu-open {
        position: absolute;
        width: 100%;
        height: 100vh;
        margin-left: 400px;
        padding: 50px;
        padding-top: 125px;

        background: #E1D4C9;
        color: #403F3D;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .burger-menu input:checked .burger-menu-open {
        transform: none;
    }

    .enjoy-container {
        justify-content: center;
    }

    .offer {
        margin-left: -42px;
    }

    .offer-menu-btn-cup {
        opacity: 0;
    }

    .offer-menu-btn-cup {
        max-width: 40px;
        overflow: hidden;
        opacity: 1;
    }

    .favorite-coffee-container {
        height: 874px;
    }

    .choose {
        text-align: center;
    }

    .about-container {
        height: 1710px;
    }


    .about-images {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        height: 1220px;
    }

    .about-imgs {
        height: 590px;
        background-size: 106%;
    }

    .about-img1 {
        grid-row-end: 2;
    }

    .about-img2,
    .about-img3 {
        display: none;
    }

    .about-img4 {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .mobile-app-container {
        height: 1072px;
        flex-direction: column;
        margin-top: 100px;
    }

    .mobile-app-description {
        max-width: 688px;
    }


    .contacts-container {
        height: 736px;
        flex-direction: column;
        padding-left: 60px;
        padding-right: 60px;
    }

    .contacts-offer {
        max-width: none;
    }

    .contacts-info {
        max-width: none;
    }

    *:hover {
        cursor: auto;
    }

    input:hover {
        cursor: auto;
    }
    
    .burger-menu:hover {
        cursor: auto;
    }

    button:hover {
        cursor: auto;
    }

    .arrow:hover {
        background-color: inherit;
    }

    .arrow:hover path{
        stroke: #665F55;
    }

    .slider-controller:hover {
        cursor: auto;
    }

    .about-imgs:hover {
        cursor: auto;
        background-size: inherit;
        transition: none;
    }

    .mobile-app-btn:hover {
        cursor: auto;
        background: none;
        color: #665F55;
    }

    .mobile-app-btn:hover path {
        fill: #403F3D;
        stroke: #403F3D;
    }

    .contacts-offer-link-border:hover {
        cursor: auto;
        background-color: inherit;
        border: 1px solid #C1B6AD;
    }
    
    .contacts-offer-link-border:hover path {
        stroke: #E1D4C9;
        
    }

    .contact-hover:hover {
        cursor: auto;
    }

    .contact-hover:hover::before {
        cursor: auto;
        width: 0;
    }
}


/* MOBILE */
@media all and (max-width: 380px) {
    .container {
        width: 380px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .enjoy-container {
        height: 552px;
    }

    .offer {
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    h1 {
        font-size: 42px;
        line-height: 48.3px;
    }

    .favorite-coffee-container {
        height: 696px;
    }

    h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .slider {
        height: 576px;
    }

    .slide {
        justify-content: normal;
    }

    .slide-img {
        height: 348px;
        margin-top: 20px;
    }

    .slide-title {
        margin-top: 20px;
    }

    .slide-text {
        margin-top: 15px;
    }

    .slide-price {
        margin-top: 16px;
    }


    .arrow {
        display: none;
    }

    .about-container {
        height: 1580px;
    }

    .about-imgs {
        background-size: inherit;
    }

    .mobile-app-container {
        height: 768px;
    }

    .mobile-app-description{
        width: 100%;
        height: 380px;
    }

    .mobile-app-btns {
        flex-direction: column;
        height: 148px;
        width: 200px;
    }

    .mobile-app-btn {
        height: 64px;
    }

    .contacts-container {
        height: 526px;
        padding: 20px 16px;
    }

    .contacts-offer {
        height: 180px;
    }

    .contacts-info {
        height: 186px;
    }
}